<h1>Купи книгу!</h1>
<table  class="table table-striped">
  <thead>
  <tr>
    <td>Название</td>
    <td>Автор</td>
    <td>Краткое описание</td>
    <td>Осталось книг</td>
    <td>Цена</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of books">
    <td>{{p?.name}}</td>
    <td>{{p?.author}}</td>
    <td>{{p?.description}}</td>
    <td>{{p?.count}}</td>
    <td>{{p?.price}}</td>
    <td>
      <button class="btn btn-sm btn-primary" (click)="bucket(p)">В корзину</button>
    </td>
  </tr>
  </tbody>
</table>
